In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
QB_data = pd.read_csv("../nfl-project3/QB Machine Learning.csv")

In [3]:
QB_data = QB_data.loc[QB_data["Touches"] > 0]

QB_data

,Year,Name,College,POS,Height,Weight,HandSize,ArmLength,Wonderlic,FortyYard,BenchPress,VertLeap,BroadJump,Shuttle,ThreeCone,SixtyYdShuttle,Touches,Rate,RushAvg,RookieAV
0,2002,David Carr,Fresno St.,QB,75.400,223,9.75,31.75,24.0,4.67,NaN,35.0,106.0,4.28,7.05,NaN,1078,151.2,0.5,35
1,2002,Joey Harrington,Oregon,QB,76.000,215,9.75,31.50,32.0,4.85,NaN,32.0,107.0,4.21,7.00,NaN,1073,133.8,1.4,24
2,2002,Josh McCown,Sam Houston St.,QB,75.900,221,9.00,30.50,30.0,4.64,NaN,38.5,118.0,3.90,6.85,NaN,862,105.3,1.0,15
3,2002,Patrick Ramsey,Tulane,QB,74.500,219,10.00,31.13,32.0,5.24,NaN,33.5,111.0,4.09,7.12,NaN,1507,126.0,-0.8,14
4,2002,David Garrard,East Carolina,QB,73.900,235,10.50,31.00,14.0,4.83,NaN,33.5,110.0,4.26,7.35,NaN,1685,132.1,2.3,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,2016,Brandon Doughty,Western Kentucky,QB,74.750,213,9.13,32.00,NaN,5.22,NaN,27.0,103.0,4.52,7.49,NaN,1593,161.0,-2.8,0
308,2016,Cardale Jones,Ohio St.,QB,77.000,253,9.75,33.75,NaN,4.81,NaN,36.0,NaN,NaN,NaN,NaN,422,147.4,4.0,0
309,2016,Christian Hackenberg,Penn St.,QB,76.375,223,9.00,32.00,NaN,4.78,NaN,31.0,114.0,4.33,7.04,NaN,1443,121.4,-1.2,0
310,2016,Connor Cook,Michigan St.,QB,76.000,217,9.75,33.00,NaN,4.79,NaN,33.0,113.0,4.28,7.21,NaN,1346,139.8,1.2,0
311,2016,Jake Rudock,Michigan,QB,75.000,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,134.1,2.9,0

In [4]:
target = QB_data["RookieAV"]

In [5]:
data = QB_data.drop(["Year", "Name", "College", "POS", "SixtyYdShuttle", "BenchPress", "ThreeCone", "BroadJump", "VertLeap", "Shuttle", "RookieAV"], axis=1)
data.fillna(data.mean(), inplace=True)
feature_names = data.columns
data.head()

,Height,Weight,HandSize,ArmLength,Wonderlic,FortyYard,Touches,Rate,RushAvg
0,75.4,223,9.75,31.75,24.0,4.67,1078,151.2,0.5
1,76.0,215,9.75,31.50,32.0,4.85,1073,133.8,1.4
2,75.9,221,9.00,30.50,30.0,4.64,862,105.3,1.0
3,74.5,219,10.00,31.13,32.0,5.24,1507,126.0,-0.8
4,73.9,235,10.50,31.00,14.0,4.83,1685,132.1,2.3

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=25)

In [7]:
clf = tree.DecisionTreeRegressor()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

-0.486780702719666

In [8]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=10000)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.1306348371299535

In [9]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.222488470948391, 'Rate'),
 (0.18924895744863607, 'Wonderlic'),
 (0.13378492116816415, 'RushAvg'),
 (0.0921448012376696, 'Height'),
 (0.09209752544688406, 'Touches'),
 (0.08773382192109648, 'ArmLength'),
 (0.0707462661302611, 'HandSize'),
 (0.06145673656296603, 'Weight'),
 (0.05029849913593141, 'FortyYard')]

In [10]:
NewQBs = pd.read_csv("../nfl-project3/Quarterbacks 2017.csv")

NewQBs.fillna(data.mean(), inplace=True)

predictionDF = NewQBs.drop(["Year", "Name", "College", "POS"], axis = 1)

yhat = rf.fit(X_train, y_train).predict(predictionDF)

In [11]:
NewQBs

,Year,Name,College,POS,Height,Weight,HandSize,ArmLength,Wonderlic,FortyYard,Touches,Rate,RushAvg
0,2017,Austin Appleby,Florida,QB,76.125,230,9.545021,31.947718,27.028777,4.833822,852,114.3,1.6
1,2017,Bart Houston,Wisconsin,QB,75.000,234,9.545021,31.947718,27.028777,4.833822,226,142.7,-0.3
2,2017,Brad Kaaya,Miami (FL),QB,75.750,214,9.750000,32.000000,34.000000,4.833822,1282,146.2,-4.1
3,2017,C.J. Beathard,Iowa,QB,74.125,219,9.380000,30.630000,26.000000,4.833822,1006,129.8,1.9
4,2017,Chad Kelly,Mississippi,QB,73.750,224,9.545021,31.947718,22.000000,4.833822,1006,150.9,4.7
5,2017,Cooper Rush,Central Michigan,QB,74.625,228,9.130000,32.380000,27.028777,4.930000,1863,139.1,-0.5
6,2017,Dane Evans,Tulsa,QB,72.375,210,9.545021,31.947718,27.028777,4.833822,1821,131.2,0.3
7,2017,Davis Webb,California,QB,76.625,229,9.250000,33.130000,25.000000,4.790000,1444,137.1,-1.3
8,2017,Deshaun Watson,Clemson,QB,74.125,221,9.750000,33.000000,20.000000,4.660000,1642,157.5,4.4
9,2017,DeShone Kizer,Notre Dame,QB,76.125,233,9.880000,33.130000,28.000000,4.830000,959,147.7,3.8
10,2017,Gunner Kiel,Cincinnati,QB,75.250,211,9.545021,31.947718,27.028777,4.833822,935,145.5,1.6
11,2017,Jeremy Johnson,Auburn,QB,76.250,232,9.545021,31.947718,27.028777,4.833822,355,145.3,2.9
12,2017,Jerod Evans,Virginia Tech,QB,74.625,232,9.380000,33.130000,21.000000,4.800000,626,153.1,4.1
13,2017,Joshua Dobbs,Tennessee,QB,75.250,216,9.250000,32.630000,29.000000,4.640000,1437,133.2,4.9
14,2017,Justin Holman,Central Florida,QB,75.875,215,9.545021,31.947718,27.028777,4.833822,941,116.1,2.4
15,2017,Mitch Leidner,Minnesota,QB,75.375,226,10.000000,33.750000,27.028777,4.930000,1475,121.2,3.4
16,2017,Mitchell Trubisky,North Carolina,QB,74.125,222,9.500000,32.000000,25.000000,4.670000,692,157.6,3.7
17,2017,Nathan Peterman,Pittsburgh,QB,74.625,226,9.880000,32.000000,33.000000,4.820000,834,144.9,3.1
18,2017,Nick Mullens,Southern Miss,QB,72.875,214,9.545021,31.947718,27.028777,4.833822,1729,137.8,-1.1
19,2017,Patrick Mahomes,Texas Tech,QB,74.125,225,9.250000,33.250000,24.000000,4.800000,1657,152.0,2.7
20,2017,Patrick Towles,Boston Col.,QB,76.875,241,9.545021,31.947718,27.028777,4.833822,1374,115.8,1.9
21,2017,Perry Hills,Maryland,QB,74.250,209,9.545021,31.947718,27.028777,4.833822,829,123.8,2.3
22,2017,Philip Nelson,East Carolina,QB,73.375,203,9.545021,31.947718,27.028777,4.833822,911,127.2,2.7
23,2017,Phillip Walker,Temple,QB,71.250,214,9.545021,31.947718,27.028777,4.833822,1799,129.1,2.3
24,2017,Sean Maguire,Florida St.,QB,73.875,219,9.545021,31.947718,27.028777,4.833822,289,132.5,-7.3
25,2017,Sefo Liufau,Colorado,QB,75.375,232,10.750000,33.500000,27.028777,5.080000,1794,129.9,2.4
26,2017,Seth Russell,Baylor,QB,74.875,213,9.630000,32.250000,27.028777,4.833822,805,159.4,6.2
27,2017,Trevor Knight,Texas A&M,QB,72.750,219,9.545021,31.947718,27.028777,4.540000,1105,124.2,5.8
28,2017,Wes Lunt,Illinois,QB,76.250,222,9.545021,31.947718,27.028777,4.833822,1146,121.7,-5.0

In [12]:
InProgressQBs = pd.DataFrame({"Player" : NewQBs["Name"], "College" : NewQBs["College"], "Prediction" : yhat})

In [13]:
InProgressQBs.sort_values(by="Prediction", ascending = False)

               Player           College  Prediction
13       Joshua Dobbs         Tennessee     28.6686
9       DeShone Kizer        Notre Dame     27.0647
17    Nathan Peterman        Pittsburgh     18.6043
8      Deshaun Watson           Clemson     17.4719
2          Brad Kaaya        Miami (FL)     15.0232
12        Jerod Evans     Virginia Tech     10.7064
16  Mitchell Trubisky    North Carolina      9.8341
19    Patrick Mahomes        Texas Tech      9.1945
25        Sefo Liufau          Colorado      8.3516
26       Seth Russell            Baylor      6.7008
7          Davis Webb        California      3.7841
4          Chad Kelly       Mississippi      3.2580
27      Trevor Knight         Texas A&M      2.8128
5         Cooper Rush  Central Michigan      2.0866
20     Patrick Towles       Boston Col.      1.7847
15      Mitch Leidner         Minnesota      1.7433
11     Jeremy Johnson            Auburn      1.3204
3       C.J. Beathard              Iowa      0.6678
18       Nick Mullens     Southern Miss      0.5936
1        Bart Houston         Wisconsin      0.5250
0      Austin Appleby           Florida      0.4627
28           Wes Lunt          Illinois      0.3897
6          Dane Evans             Tulsa      0.3811
23     Phillip Walker            Temple      0.3404
22      Philip Nelson     East Carolina      0.3190
24       Sean Maguire       Florida St.      0.2902
10        Gunner Kiel        Cincinnati      0.2857
14      Justin Holman   Central Florida      0.2494
21        Perry Hills          Maryland      0.0455